body{
    background: linear-gradient(to left, #8E0E00, #1F1C18)
}
.calculator{
    background-color:rgb(247,247,247);
    width: 30%;
    min-height: 82vh;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 80px;
}
.article{
    margin-left:20px;
}
select{
    height: 60px;
    font-weight:600;
    font-size: larger;
    width: 85%;
}
.title{
    background-color:black;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#btn_amt{
    background-color: rgb(173,19,58);
    color:white;
    width: 50%;
    height: 40px;
    border-radius: 4px;
       
}
.button{
    display: flex;
    justify-content: center;
}
#bill_amt{
    width: 60%;
    height: 25px;
}
#n_share{
    width:60%;
    height:25px;
}
.total_tip{
    margin-top: 10px;
    display: none;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
.total_tip::before{
    content: "TIP AMOUNT";
    display: block;
}
.total_tip > small{
    display: block;
}